@{
    ViewBag.Title = "关于";
}
<div class="container" style="min-height: 500px;max-width:100%; text-align: center; ">
    <div style="position:absolute;top:28%;left:40%;">
        <img src="~/images/me.png" />
        <h1>陈亮</h1>
        <p style="margin-top:20px;">cl889521@163.com</p>
        <p>石家庄学院应届毕业生</p>
    </div>
</div>
