@{
    ViewBag.Title = "美图网";
}

<style type="text/css">
    img {
        border: none;
    }

    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }

        .wrapper h3 {
            color: #3366cc;
            font-size: 16px;
            height: 35px;
            line-height: 1.9;
            text-align: center;
            border-bottom: 1px solid #E5E5E5;
            margin: 0 0 10px 0;
        }

    #con1_1 {
        position: relative;
    }

        #con1_1 .product_list {
            position: absolute;
            left: 0px;
            top: 0px;
            padding: 10px;
            background: #eee;
            margin: 5px;
        }

    .product_list img {
        width: 342px;
    }

    .product_list p {
        padding: 5px 0px;
        font-size: 12px;
        text-align: center;
        color: #333;
        white-space: normal;
        width: 200px;
    }
</style>

<!--banner start here-->
<script src="~/Scripts/home/responsiveslides.min.js"></script>
<script src="~/Scripts/home/PhotoHottest.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });
    
</script>


<!--banner start here-->
<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="banner">
                </div>
            </li>
            <li>
                <div class="banner1">
                </div>
            </li>
            <li>
                <div class="banner2">
                </div>
            </li>
        </ul>
    </div>
</div>
<!--banner end here-->
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            //mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<!--portfolio start here-->
<link href="~/Content/home/swipebox.css" rel="stylesheet" />
<script src="~/Scripts/home/jquery.swipebox.min.js"></script>
<script src="~/Scripts/jquery.masonry.min.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>

<div class="portfolio">
    <div class="portfolio-main">
        <div class="portfolio-bottom" style="width:90%;margin:auto">
            <div class="port-nav-left">
                <h6>超乎想象的灵感来源</h6>
                <p>寻找由社群中的业余及专业摄影师拍摄的动人相片。</p>
            </div>
            <div class="container">
                <div id="con1_1">

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--portfolio end here--> 