@{
    ViewBag.Title = "美图网";
}

<!--banner start here-->
<script src="~/Scripts/home/responsiveslides.min.js"></script>
<script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
    });
</script>

<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="banner">
                    <div class="caption">
                        <h3>Mark Hodding,sydney trip</h3>
                        <span class="head-line"> </span>
                        <div class="video-play-bwn">
                            <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"><span class="roundplay-bwn"> </span></a>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="banner1">
                    <div class="caption">
                        <h3>Mark Hodding,sydney trip</h3>
                        <span class="head-line"> </span>
                        <div class="video-play-bwn">
                            <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"><span class="roundplay-bwn"> </span></a>
                        </div>

                    </div>
                </div>
            </li>
            <li>
                <div class="banner2">
                    <div class="caption">
                        <h3>Mark Hodding,sydney trip</h3>
                        <span class="head-line"> </span>
                        <div class="video-play-bwn">
                            <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"><span class="roundplay-bwn"> </span></a>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/">网页模板</a></div>
<!--banner end here-->


<div id="small-dialog5" class="mfp-hide">
    <iframe src="//player.vimeo.com/video/111679725" width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>
<!--portfolio start here-->
<link href="~/Content/home/swipebox.css" rel="stylesheet" />
<script src="~/Scripts/home/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(".swipebox").swipebox();
    });
</script>

<div class="portfolio">
    <div class="portfolio-main">
        <div class="portfolio-bottom">
            <div class="port-nav-left">
                <h6>超乎想象的灵感来源</h6>
                <p>寻找由社群中的业余及专业摄影师拍摄的动人相片。</p>
            </div>

            <div id="portfoliolist">
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p1.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>

                    <div id="small-dialog" class="mfp-hide">
                        <div class="image-top">
                            <div class="video-play-bwn">
                                <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"> </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="images/p2.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="images/p3.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="images/p4.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="images/p5.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p6.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p7.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p8.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p9.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p10.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p11.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 pa-more">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim">
                        <div class="work-column">
                            <img src="/images/p12.jpg" alt="" class="img-cap img-responsive">
                            <div class="porthover">
                                <h3>South America</h3>
                                <span class="hover-line"> </span>
                                <small class="port-play"> </small>
                                <div class="porthover-grids">
                                    <div class="porthover-left">
                                        <span class="port-lady"> </span>
                                        <p>By Elena Smith</p>
                                    </div>
                                    <div class="porthover-right">
                                        <span class="heart"> </span>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--portfolio end here--> 