@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录-美图网</title>
    <link rel="stylesheet" href="/content/login/normalize.css">
    <link rel="stylesheet" href="/content/login/style.css" media="screen" type="text/css" />
    @*<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>*@
    <script src="~/Scripts/formatVerify.js"></script>
    <script src="~/Scripts/md5.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/layer9.1/layer.js"></script>
    <script src="~/Scripts/loginRegister.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script type="text/javascript">
        //异步加载的提示
        $(document).ajaxStart(function () {
            $.fancybox.showLoading();
        })
        $(document).ajaxStop(function () {
            $.fancybox.hideLoading();
        })
    </script>
</head>
<body>

    <section class="login-form-wrap">
        <h1>美图网</h1>
        <form class="login-form">
            <label>
                <input type="text" id="email" required placeholder="邮箱">
            </label>
            <label>
                <input type="password" id="pwd" required placeholder="密码">
            </label>
            <input type="button" value="登录" onclick="login()">
        </form>
        <h5><a href="/UserInfo/LostPwd" >忘记密码?</a>&nbsp;|&nbsp;<a href="/UserInfo/Register" >注册</a></h5>
    </section>

</body>
</html>


