
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册-美图网</title>
    <link rel="stylesheet" href="/content/login/normalize.css">
    <link rel="stylesheet" href="/content/login/style.css"  type="text/css" />
    <script src="~/Scripts/formatVerify.js"></script>
    <script src="~/Scripts/md5.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/layer9.1/layer.js"></script>
    <script src="~/Scripts/loginRegister.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <link href="~/Content/jquery.fancybox.css" rel="stylesheet" />
    <script type="text/javascript">
        //异步加载的提示
        $(document).ajaxStart(function () {
            $.fancybox.showLoading();
        })
        $(document).ajaxStop(function () {
            $.fancybox.hideLoading();
        })
    </script>
</head>
<body>
    
    <section class="login-form-wrap">
        <h1>美图网</h1>
        <form class="login-form"  method="post" >
            <label>
                <input type="text" name="email" id="email" required placeholder="邮箱">
            </label>
            <label>
                <input type="password" name="md5Pwd" id="pwd" required placeholder="密码">
            </label>
            <input type="button" value="注册" onclick="register()">
        </form>
        <h5><a href="/UserInfo/Login" >登录</a></h5>
    </section>

</body>
</html>


