
﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 美图网</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/layout/style.css" rel="stylesheet" />
    <script src="~/Scripts/layer9.1/layer.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/layout/move-top.js"></script>
    <script src="~/Scripts/layout/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smoth-scrolling -->
    <!--pop-up-box-->

    <script src="~/Scripts/layout/modernizr.custom.53451.js"></script>
    <link href="~/Content/layout/popup-box.css" rel="stylesheet" />
    <script src="~/Scripts/layout/jquery.magnific-popup.js"></script>
    <!--pop-up-box-->
</head>
<body>
    <!--header start here-->
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="header-left">
                    <div class="logo">
                        <a href="index.html"><h1>美图网</h1></a>
                    </div>
                    <div class="top-nav">
                        <ul class="res">
                            <li><a href="/home/Index">首页</a></li>
                            <li><a href="services.html">最热</a></li>
                            <li><a href="about.html">最新</a></li>
                            <li><a href="contact.html">分类</a></li>
                            <li><a href="contact.html">关于</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-right">
                    <div class="search">
                        <form>
                            <input type="text" value="搜索" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" />
                            <input type="submit" value="" />
                        </form>
                    </div>
                    <div class="header_top_right">
                        <ul>
                            @if (ViewBag.IsLogin)
                            {
                                <li><a href="/Upload/Upload" class="upload">上传</a></li>
                                <li> |</li>
                                <li><a href="/UserCenter/UserCenter">@ViewBag.User.Name</a> </li>
                                <li> |</li>
                                <li><a href="/UserInfo/LogOut">退出</a></li>
                            }
                            else
                            {

                                <li><a href="/UserInfo/Login">登录</a></li>
                                <li> |</li>
                                <li><a href="/UserInfo/Register">注册</a></li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--header end here-->
    @RenderBody()
    <!--footer start here-->
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
            </div>
        </div>
    </div>
    <!--footer end here-->
</body>
</html>

