@using DataTrsfer
@{
    ViewBag.Title = "用户中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>用户中心</h2>

<div>
    <ul>
        @{
            List<PhotoDt> list = ViewBag.Photos;
            if (list == null || list.Count == 0)
            {
                <li>
                    没有图片
                </li>
            }
            else
            {
                foreach (PhotoDt phtot in list)
	{
                    <li>
                        <img src="@phtot.ImgUrl" />
                        <p>@phtot.Name</p>
                    </li>
	}

            }

        }

    </ul>
</div>
