
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserCenter</title>

    <link href="~/Content/usercenter.css" rel="stylesheet" />
</head>
<body>
 <div class="middle">
     <div class="headerUC"></div>
     <div class="infoheader"></div>


 </div>









    <div> 
    </div>
</body>
</html>
